* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: rgb(69, 72, 85);
	height: 100px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
}

body {
	background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(58, 58, 187);
}

/* logo */

header .logo-div a {
	font-weight: 600;
	color: rgb(69, 72, 85);
	font-size: 40px;
	background-color: rgb(20, 182, 182);
	padding: 5px 10px 5px 50px;
	margin: 10px 10px 10px 0px;
}

.logo-div {
	align-items: center;
}

/* header nav */

div ul li {
	list-style: none;
	display: inline;
}

div.nav {
	margin-right: 50px;
}

.header-nav {
	color: rgb(20, 182, 182);
	font-size: 25px;
	margin: 10px;
}

.header-nav {
	position: relative;
}

/* div cool-subtitle-here */

div img {
	width: 100%;
	height: 250px;
}

.cool-subtitle-here {
	position: absolute;
	background-color: rgb(20, 182, 182);
	padding: 5px 20px 5px 20px;
	top: 260px;
	left: 75%;
	color: rgb(69, 72, 85);
}

/* hover navbar */

.header-nav::before {
	content: '';
	width: 0%;
	height: 2px;
	background-color: rgb(20, 182, 182);
	position: absolute;
	transition: 0.2s;
	bottom: 0;
}

.header-nav:hover:before {
	width: 100%;
}

/* main */

div .about-me {
	width: 100%;
	height: auto;
}
.about-me h1 {
	margin-top: 30px;
	margin-left: 150px;
	font-size: 45px;
}

.line {
	padding-left: 20px;
	position: relative;
	display: inline-block;
}

.line::before {
	content: '';
	background-color: rgb(65, 79, 139);
	width: 3px;
	height: 200px;
	left: 300px;
	top: -120px;
	position: absolute;
}

.about-me .Helvetica {
	margin-top: -120px;
	margin-left: 350px;
	font-size: 20px;
	color: rgb(65, 79, 139);
}

.p {
	margin-top: 30px;
	margin-left: 350px;
	font-size: 20px;
	color: rgb(65, 79, 139);
}

/* maim */

.main-about-me {
	width: 100%;
	height: 265px;
}

/* main-work */

.main-work {
	width: 100%;
	height: auto;
}

/* work */

.work h1 {
	margin-top: 20px;
	margin-left: 150px;
	font-size: 45px;
}

.report {
	width: 500px;
	height: 500px;
}

.line-2::before {
	content: '';
	background-color: rgb(65, 79, 139);
	width: 3px;
	height: 1050px;
	left: 300px;
	top: 650px;
	position: absolute;
}

.surf-report {
	position: absolute;
	top: 1050px;
	background-color: rgb(20, 182, 182);
	padding: 20px 20px 20px 20px;
	left: 350px;
	color: rgb(69, 72, 85);
	font-size: 20px;
}

.report:hover {
	opacity: 0.8;
}

/* repot-img */

.report {
	margin-top: -50px;
	width: 1050px;
	height: 500px;
	border: 4px solid rgb(20, 182, 182);
	margin-left: 350px;
	position: relative;
	display: flex;
}

img .report::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.3);
	content: '';
}

span {
	font-size: 12px;
}

/* wall img */

.ledwall {
	width: 500px;
	height: 200px;
	margin-left: 350px;
	position: relative;
	display: flex;
	margin-top: 50px;
	border: 4px solid rgb(20, 182, 182);
}

.led-wall {
	position: absolute;
	background-color: rgb(20, 182, 182);
	padding: 10px 20px 10px 20px;
	left: 350px;
	color: rgb(69, 72, 85);
	font-size: 20px;
	margin-top: -110px;
}

.ledwall:hover {
	opacity: 0.8;
}

/* calculator */

.calculator-img {
	width: 500px;
	height: 200px;
	margin-left: 900px;
	position: relative;
	display: flex;
	margin-top: -208px;
	border: 4px solid rgb(20, 182, 182);
}

.calculator {
	position: absolute;
	background-color: rgb(20, 182, 182);
	padding: 10px 20px 10px 20px;
	left: 900px;
	color: rgb(69, 72, 85);
	font-size: 20px;
	margin-top: -110px;
}

.calculator-img:hover {
	opacity: 0.8;
}

/* pazzel */

.pazzles-img {
	width: 500px;
	height: 200px;
	margin-left: 350px;
	position: relative;
	display: flex;
	margin-top: 50px;
	border: 4px solid rgb(20, 182, 182);
}

.pastel-pazzels {
	position: absolute;
	background-color: rgb(20, 182, 182);
	padding: 10px 20px 10px 20px;
	left: 350px;
	color: rgb(69, 72, 85);
	font-size: 20px;
	margin-top: -110px;
}

.pazzles-img:hover {
	opacity: 0.8;
}

/* run buddy */

.run-img {
	width: 500px;
	height: 200px;
	margin-left: 900px;
	position: relative;
	display: flex;
	margin-top: -208px;
	border: 4px solid rgb(20, 182, 182);
}

.run-buddy {
	position: absolute;
	background-color: rgb(20, 182, 182);
	padding: 10px 20px 10px 20px;
	left: 900px;
	color: rgb(69, 72, 85);
	font-size: 20px;
	margin-top: -110px;
}

.run-img:hover {
	opacity: 0.8;
}

/* Footer */

footer {
	width: 100%;
	height: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-me {
	margin-left: 150px;
	font-size: 20px;
	margin-top: 120px;
}

/* line3 */
.line3 {
	padding-left: 20px;
	position: relative;
	display: inline-block;
}

.line3::before {
	content: '';
	background-color: rgb(65, 79, 139);
	width: 3px;
	height: 150px;
	left: 150px;
	position: absolute;
	margin-top: -140px;
}

/* contacts */
.contact-nav {
	width: 100%;
	height: auto;
	display: flex;
	position: relative;
	margin-top: -80px;
	margin-left: 200px;
}
.contacts {
	color: rgb(69, 72, 85);
	margin-left: 30px;
}

.contacts::before {
	content: '';
	width: 0%;
	height: 2px;
	background-color: rgb(65, 79, 139);
	position: absolute;
	transition: 0.2s;
	bottom: 0;
}

.contacts:hover {
	text-decoration: underline;
	color: rgb(65, 79, 139);
}
